In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame(
    {
        "Name": ["Jim", "Tom"],
        "Age": [21, 35],
        "Sex": ["male", "male"]
    }
)

In [3]:
df

  Name  Age   Sex
0  Jim   21  male
1  Tom   35  male

In [5]:
df["Age"]

0    21
1    35
Name: Age, dtype: int64

In [10]:
# Series : There is no name of column. Just row name
ages = pd.Series([21, 21], name = "Age")
ages

0    21
1    21
Name: Age, dtype: int64

In [11]:
ages.max()

21

In [12]:
df["Age"].max()

35

In [13]:
df.describe()

             Age
count   2.000000
mean   28.000000
std     9.899495
min    21.000000
25%    24.500000
50%    28.000000
75%    31.500000
max    35.000000

In [22]:
a = df.describe().mean()
a

Age    22.487437
dtype: float64