In [1]:
import pandas as pd

In [6]:
air_quality = pd.read_csv("./data/air_quality_no2.csv", index_col=0, parse_dates=True)
air_quality

                     station_antwerp  station_paris  station_london
datetime
2019-05-07 02:00:00              NaN            NaN            23.0
2019-05-07 03:00:00             50.5           25.0            19.0
2019-05-07 04:00:00             45.0           27.7            19.0
2019-05-07 05:00:00              NaN           50.4            16.0
2019-05-07 06:00:00              NaN           61.9             NaN
...                              ...            ...             ...
2019-06-20 22:00:00              NaN           21.4             NaN
2019-06-20 23:00:00              NaN           24.9             NaN
2019-06-21 00:00:00              NaN           26.5             NaN
2019-06-21 01:00:00              NaN           21.8             NaN
2019-06-21 02:00:00              NaN           20.0             NaN

[1035 rows x 3 columns]

# How to create new columns derived from existing columns

In [7]:
air_quality.head()

                     station_antwerp  station_paris  station_london
datetime
2019-05-07 02:00:00              NaN            NaN            23.0
2019-05-07 03:00:00             50.5           25.0            19.0
2019-05-07 04:00:00             45.0           27.7            19.0
2019-05-07 05:00:00              NaN           50.4            16.0
2019-05-07 06:00:00              NaN           61.9             NaN

In [8]:
air_quality["london_mg_per_cubic"] = air_quality["station_london"] * 1.882
air_quality.head()

,station_antwerp,station_paris,station_london,london_mg_per_cubic
datetime,,,,
2019-05-07 02:00:00,NaN,NaN,23.0,43.286
2019-05-07 03:00:00,50.5,25.0,19.0,35.758
2019-05-07 04:00:00,45.0,27.7,19.0,35.758
2019-05-07 05:00:00,NaN,50.4,16.0,30.112
2019-05-07 06:00:00,NaN,61.9,NaN,NaN

In [16]:
air_quality["index"] = [x for x in range(len(air_quality.index))]

In [17]:
air_quality.head()

,station_antwerp,station_paris,station_london,london_mg_per_cubic,index
datetime,,,,,
2019-05-07 02:00:00,NaN,NaN,23.0,43.286,0
2019-05-07 03:00:00,50.5,25.0,19.0,35.758,1
2019-05-07 04:00:00,45.0,27.7,19.0,35.758,2
2019-05-07 05:00:00,NaN,50.4,16.0,30.112,3
2019-05-07 06:00:00,NaN,61.9,NaN,NaN,4

In [20]:
air_quality_renamed = air_quality.rename(columns=str.upper)
air_quality_renamed

,STATION_ANTWERP,STATION_PARIS,STATION_LONDON,LONDON_MG_PER_CUBIC,INDEX
datetime,,,,,
2019-05-07 02:00:00,NaN,NaN,23.0,43.286,0
2019-05-07 03:00:00,50.5,25.0,19.0,35.758,1
2019-05-07 04:00:00,45.0,27.7,19.0,35.758,2
2019-05-07 05:00:00,NaN,50.4,16.0,30.112,3
2019-05-07 06:00:00,NaN,61.9,NaN,NaN,4
...,...,...,...,...,...
2019-06-20 22:00:00,NaN,21.4,NaN,NaN,1030
2019-06-20 23:00:00,NaN,24.9,NaN,NaN,1031
2019-06-21 00:00:00,NaN,26.5,NaN,NaN,1032
2019-06-21 01:00:00,NaN,21.8,NaN,NaN,1033
2019-06-21 02:00:00,NaN,20.0,NaN,NaN,1034