In [1]:
import pandas as pd

In [3]:
air_quality_no2 = pd.read_csv("./data/air_quality_no2_long.csv", parse_dates=True)
air_quality_no2 = air_quality_no2[["date.utc", "location", "parameter", "value"]]
air_quality_no2.head()

                    date.utc location parameter  value
0  2019-06-21 00:00:00+00:00  FR04014       no2   20.0
1  2019-06-20 23:00:00+00:00  FR04014       no2   21.8
2  2019-06-20 22:00:00+00:00  FR04014       no2   26.5
3  2019-06-20 21:00:00+00:00  FR04014       no2   24.9
4  2019-06-20 20:00:00+00:00  FR04014       no2   21.4

In [5]:
air_quality_pm25 = pd.read_csv("./data/air_quality_pm25_long.csv", parse_dates=True)
air_quality_pm25 = air_quality_pm25[["date.utc", "location", "parameter", "value"]]
air_quality_pm25.head()

                    date.utc location parameter  value
0  2019-06-18 06:00:00+00:00  BETR801      pm25   18.0
1  2019-06-17 08:00:00+00:00  BETR801      pm25    6.5
2  2019-06-17 07:00:00+00:00  BETR801      pm25   18.5
3  2019-06-17 06:00:00+00:00  BETR801      pm25   16.0
4  2019-06-17 05:00:00+00:00  BETR801      pm25    7.5

In [6]:
air_quality = pd.concat([air_quality_pm25, air_quality_no2], axis=0)

In [7]:
air_quality.head()

                    date.utc location parameter  value
0  2019-06-18 06:00:00+00:00  BETR801      pm25   18.0
1  2019-06-17 08:00:00+00:00  BETR801      pm25    6.5
2  2019-06-17 07:00:00+00:00  BETR801      pm25   18.5
3  2019-06-17 06:00:00+00:00  BETR801      pm25   16.0
4  2019-06-17 05:00:00+00:00  BETR801      pm25    7.5

In [8]:
air_quality.head(-5)

                       date.utc            location parameter  value
0     2019-06-18 06:00:00+00:00             BETR801      pm25   18.0
1     2019-06-17 08:00:00+00:00             BETR801      pm25    6.5
2     2019-06-17 07:00:00+00:00             BETR801      pm25   18.5
3     2019-06-17 06:00:00+00:00             BETR801      pm25   16.0
4     2019-06-17 05:00:00+00:00             BETR801      pm25    7.5
...                         ...                 ...       ...    ...
2058  2019-05-07 11:00:00+00:00  London Westminster       no2   21.0
2059  2019-05-07 10:00:00+00:00  London Westminster       no2   21.0
2060  2019-05-07 09:00:00+00:00  London Westminster       no2   28.0
2061  2019-05-07 08:00:00+00:00  London Westminster       no2   32.0
2062  2019-05-07 07:00:00+00:00  London Westminster       no2   32.0

[3173 rows x 4 columns]

In [9]:
air_quality = air_quality.sort_values("date.utc")
air_quality.head()

                       date.utc            location parameter  value
2067  2019-05-07 01:00:00+00:00  London Westminster       no2   23.0
1003  2019-05-07 01:00:00+00:00             FR04014       no2   25.0
100   2019-05-07 01:00:00+00:00             BETR801      pm25   12.5
1098  2019-05-07 01:00:00+00:00             BETR801       no2   50.5
1109  2019-05-07 01:00:00+00:00  London Westminster      pm25    8.0

In [10]:
air_quality_ = pd.concat([air_quality_pm25, air_quality_no2], keys=["PM25", "NO2"])
air_quality_.head()

                         date.utc location parameter  value
PM25 0  2019-06-18 06:00:00+00:00  BETR801      pm25   18.0
     1  2019-06-17 08:00:00+00:00  BETR801      pm25    6.5
     2  2019-06-17 07:00:00+00:00  BETR801      pm25   18.5
     3  2019-06-17 06:00:00+00:00  BETR801      pm25   16.0
     4  2019-06-17 05:00:00+00:00  BETR801      pm25    7.5

In [32]:
air_quality_[["location", "value"]]

                     location  value
PM25 0                BETR801   18.0
     1                BETR801    6.5
     2                BETR801   18.5
     3                BETR801   16.0
     4                BETR801    7.5
...                       ...    ...
NO2  2063  London Westminster   26.0
     2064  London Westminster   16.0
     2065  London Westminster   19.0
     2066  London Westminster   19.0
     2067  London Westminster   23.0

[3178 rows x 2 columns]

In [33]:
air_quality_["location"]["PM25"]

0                  BETR801
1                  BETR801
2                  BETR801
3                  BETR801
4                  BETR801
               ...
1105    London Westminster
1106    London Westminster
1107    London Westminster
1108    London Westminster
1109    London Westminster
Name: location, Length: 1110, dtype: object