In [2]:
import pandas as pd
from pandas import Series, DataFrame

# Series

In [3]:
obj = pd.Series([4, 7, -5, 3])
obj

0    4
1    7
2   -5
3    3
dtype: int64

In [4]:
obj.values

array([ 4,  7, -5,  3], dtype=int64)

In [5]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [8]:
obj2 = pd.Series([4, 7, -5, 3], index=['d', 'b', 'a', 'c'])
obj2

d    4
b    7
a   -5
c    3
dtype: int64

In [9]:
obj2.index

Index(['d', 'b', 'a', 'c'], dtype='object')

In [10]:
obj2[obj2 > 2]

d    4
b    7
c    3
dtype: int64

In [12]:
sdata = {"Ohio":35000, "Texas":71000, "Oregon":16000, "Utah":5000}
obj3 = pd.Series(sdata)
obj3

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

In [14]:
obj3.name = "Population"
obj3.index.name = "State"
obj3

State
Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
Name: Population, dtype: int64

In [15]:
import numpy as np
np.arange(3)

array([0, 1, 2])

# Essential funtionality

In [17]:
obj = pd.Series([4.5, 7.2, -5.3, 3.6], index=['d', 'b', 'a', 'c'])
obj

d    4.5
b    7.2
a   -5.3
c    3.6
dtype: float64

In [19]:
obj2 = obj.reindex(['a', 'b', 'c', 'd', 'e'])
obj2

a   -5.3
b    7.2
c    3.6
d    4.5
e    NaN
dtype: float64

In [21]:
a = np.nan
a == np.nan

nan

In [22]:
import pandas_datareader.data as web
all_data = {ticker: web.get_data_yahoo(ticker) for ticker in ["AAPL", "IBM", "MSFT", "GOOG"]}

In [26]:
all_data

{'AAPL':                   High         Low        Open       Close       Volume  \
 Date
 2015-12-22   26.930000   26.612499   26.850000   26.807501  131157600.0
 2015-12-23   27.212500   26.799999   26.817499   27.152500  130629600.0
 2015-12-24   27.250000   26.987499   27.250000   27.007500   54281600.0
 2015-12-28   26.922501   26.545000   26.897499   26.705000  106816800.0
 2015-12-29   27.357500   26.715000   26.740000   27.184999  123724800.0
 ...                ...         ...         ...         ...          ...
 2020-12-14  123.349998  121.540001  122.599998  121.779999   79184500.0
 2020-12-15  127.900002  124.129997  124.339996  127.879997  157572300.0
 2020-12-16  128.369995  126.559998  127.410004  127.809998   98208600.0
 2020-12-17  129.580002  128.039993  128.899994  128.699997   94359800.0
 2020-12-18  129.100006  126.120003  128.960007  126.660004  192354800.0

              Adj Close
 Date
 2015-12-22   24.836382
 2015-12-23   25.156017
 2015-12-24   25.021677
 2015-12-28   24.741419
 2015-12-29   25.186125
 ...                ...
 2020-12-14  121.779999
 2020-12-15  127.879997
 2020-12-16  127.809998
 2020-12-17  128.699997
 2020-12-18  126.660004

 [1258 rows x 6 columns],
 'IBM':                   High         Low        Open       Close     Volume  \
 Date
 2015-12-22  138.190002  135.649994  135.880005  137.929993  4263800.0
 2015-12-23  139.309998  138.110001  138.300003  138.539993  5164900.0
 2015-12-24  138.880005  138.110001  138.429993  138.250000  1495200.0
 2015-12-28  138.039993  136.539993  137.740005  137.610001  3143400.0
 2015-12-29  140.059998  138.199997  138.250000  139.779999  3943700.0
 ...                ...         ...         ...         ...        ...
 2020-12-14  126.239998  123.470001  125.320000  123.529999  5050000.0
 2020-12-15  125.930000  123.440002  124.389999  125.930000  4359600.0
 2020-12-16  126.570000  125.290001  125.930000  125.550003  4530100.0
 2020-12-17  126.089996  124.910004  126.080002  125.550003  3788000.0
 2020-12-18  126.400002  124.970001  125.589996  125.849998  7550600.0

              Adj Close
 Date
 2015-12-22  109.896957
 2015-12-23  110.382957
 2015-12-24  110.151917
 2015-12-28  109.641991
 2015-12-29  111.370964
 ...                ...
 2020-12-14  123.529999
 2020-12-15  125.930000
 2020-12-16  125.550003
 2020-12-17  125.550003
 2020-12-18  125.849998

 [1258 rows x 6 columns],
 'MSFT':                   High         Low        Open       Close      Volume  \
 Date
 2015-12-22   55.480000   54.500000   54.990002   55.349998  28322200.0
 2015-12-23   55.880001   55.439999   55.700001   55.820000  27279800.0
 2015-12-24   55.959999   55.430000   55.860001   55.669998   9558500.0
 2015-12-28   55.950001   54.980000   55.349998   55.950001  22458300.0
 2015-12-29   56.849998   56.060001   56.290001   56.549999  27731400.0
 ...                ...         ...         ...         ...         ...
 2020-12-14  216.210007  212.880005  213.100006  214.199997  28798400.0
 2020-12-15  215.419998  212.240005  215.169998  214.130005  27018100.0
 2020-12-16  220.110001  214.720001  214.750000  219.279999  35023300.0
 2020-12-17  220.889999  217.919998  219.869995  219.419998  32515800.0
 2020-12-18  219.690002  216.020004  218.589996  218.589996  63320100.0

              Adj Close
 Date
 2015-12-22   50.508629
 2015-12-23   50.937519
 2015-12-24   50.800640
 2015-12-28   51.056156
 2015-12-29   51.603676
 ...                ...
 2020-12-14  214.199997
 2020-12-15  214.130005
 2020-12-16  219.279999
 2020-12-17  219.419998
 2020-12-18  218.589996

 [1258 rows x 6 columns],
 'GOOG':                    High          Low         Open        Close   Volume  \
 Date
 2015-12-22   754.849976   745.530029   751.650024   750.000000  1365400
 2015-12-23   754.210022   744.000000   753.469971   750.309998  1565900
 2015-12-24   751.349976   746.619995   749.549988   748.400024   527200
 2015-12-28   762.989990   749.520020   752.919983   762.510010  1515300
 2015-12-29   779.979980   766.429993   766.690002   776.599976  1765000
 ...                 ...          ...          ...          ...      ...
 2020-12-14  1797.390015  1757.214966  1775.000000  1760.060059  1600200
 2020-12-15  1771.420044  1749.949951  1764.420044  1767.770020  1482300
 2020-12-16  1773.000000  1756.079956  1772.880005  1763.000000  1513500
 2020-12-17  1771.784058  1738.660034  1768.510010  1747.900024  1624700
 2020-12-18  1755.109985  1720.219971  1754.180054  1731.010010  4015000

               Adj Close
 Date
 2015-12-22   750.000000
 2015-12-23   750.309998
 2015-12-24   748.400024
 2015-12-28   762.510010
 2015-12-29   776.599976
 ...                 ...
 2020-12-14  1760.060059
 2020-12-15  1767.770020
 2020-12-16  1763.000000
 2020-12-17  1747.900024
 2020-12-18  1731.010010

 [1258 rows x 6 columns]}

In [27]:
price = pd.DataFrame({
    ticker: data["Adj Close"] for ticker, data in all_data.items()
})

volume = pd.DataFrame({
    ticker: data["Volume"] for ticker, data in all_data.items()
})

In [28]:
price.head()

                 AAPL         IBM       MSFT        GOOG
Date
2015-12-22  24.836382  109.896957  50.508629  750.000000
2015-12-23  25.156017  110.382957  50.937519  750.309998
2015-12-24  25.021677  110.151917  50.800640  748.400024
2015-12-28  24.741419  109.641991  51.056156  762.510010
2015-12-29  25.186125  111.370964  51.603676  776.599976

In [29]:
volume.head()

                   AAPL        IBM        MSFT     GOOG
Date
2015-12-22  131157600.0  4263800.0  28322200.0  1365400
2015-12-23  130629600.0  5164900.0  27279800.0  1565900
2015-12-24   54281600.0  1495200.0   9558500.0   527200
2015-12-28  106816800.0  3143400.0  22458300.0  1515300
2015-12-29  123724800.0  3943700.0  27731400.0  1765000

In [30]:
returns = price.pct_change()
returns.tail()

                AAPL       IBM      MSFT      GOOG
Date
2020-12-14 -0.005147 -0.005955  0.004408 -0.012184
2020-12-15  0.050090  0.019428 -0.000327  0.004381
2020-12-16 -0.000547 -0.003018  0.024051 -0.002698
2020-12-17  0.006963  0.000000  0.000638 -0.008565
2020-12-18 -0.015851  0.002389 -0.003783 -0.009663

In [31]:
returns["MSFT"].corr(returns["IBM"])

0.555922314566981

In [32]:
returns["MSFT"].cov(returns["IBM"])

0.0001582248019799257

In [37]:
returns.corr()

          AAPL       IBM      MSFT      GOOG
AAPL  1.000000  0.471535  0.714296  0.655128
IBM   0.471535  1.000000  0.555922  0.518703
MSFT  0.714296  0.555922  1.000000  0.778764
GOOG  0.655128  0.518703  0.778764  1.000000

In [38]:
returns.cov()

          AAPL       IBM      MSFT      GOOG
AAPL  0.000361  0.000146  0.000237  0.000207
IBM   0.000146  0.000265  0.000158  0.000140
MSFT  0.000237  0.000158  0.000306  0.000226
GOOG  0.000207  0.000140  0.000226  0.000277

In [40]:
returns.corrwith(returns["IBM"])

AAPL    0.471535
IBM     1.000000
MSFT    0.555922
GOOG    0.518703
dtype: float64